body{
  margin: 0;
}
.app {
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: relative;
  padding-top: 60px;
}

/* Header */

.header {
  box-shadow: 0 15px 40px -20px rgba(40, 44, 63, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background: #fff;
  z-index: 1000;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  height: 60px;
  width: 65px;
  cursor: pointer;
}

.logo-container > img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.navbar-container{
  display: flex;
  align-items: center;
}

.navbar-container > ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-container > ul > li > a {
  text-decoration: none;
  color: black;
  padding: 16px;
}

/* Body */
.body {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
.body > h2 {
  margin: 0px;
  font-family: Gilroy;
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
  color: rgba(2, 6, 12, 0.92);
}
.body-header > h2 {
  margin: 0;
  margin-bottom: 8px;
}

.body > .body-header > .searchbar-container {
  display: flex;
  gap: 8px;
}
.input-wrapper {
  width: 40%;
  display: flex;
  padding: 8px 10px;
  border: 1px solid black;
}
.search-input {
  font-size: 14px;
  line-height: 40px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  font-weight: 500;
  border: 0;
  outline: 0;
}
/* .searchBtn {
  height: 100%;
} */

.resto-container {
  display: flex;
  flex-wrap: wrap;
}

.resto-card {
  width: 270px;
  padding: 8px;
  height: auto;
  transition: all 0.2s ease-in-out;
  display: inline-block;
}

.resto-card:hover {
  transform: scale(0.91);
  border-radius: 10px;
  cursor: pointer;
}

.resto-card > div > img {
  height: 220px;
  width: 100%;
  border-radius: 10px;
}

.resto-card > .resto-content > h5,
.resto-card > .resto-content > div > h5 {
  margin: 0;
  font-family: Gilroy;
  font-weight: 200;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: -0.3px;
  color: rgba(2, 6, 12, 0.6);
}

.resto-card > .resto-content > h3 {
  margin-top: 0;
  margin-bottom: 4px;
  font-family: Gilroy_Bold;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.3px;
  color: rgba(2, 6, 12, 0.75);
}
.subtitle-1 {
  display: flex;
  gap: 4px;
  /* justify-content: space-between; */
  align-items: center;
  margin-bottom: 8px;
}

.rating {
  display: flex;
  gap: 4px;
}

.filter > .filter-btn {
  cursor: pointer;
  margin-right: 8px;
}

/* Shimmer.css */
.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.shimmer-wrapper {
  width: 270px;
  height: 200px;
  background-color: #f6f7f8;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.shimmer {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.1) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.authButton {
  padding: 8px;
  width: 70px;
  cursor: pointer;
}

.notfound-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-size: 24px;
}

.restaurant-wrapper {
  padding: 10px;
}

.restaurant-data {
  display: flex;
  align-items: center;
  gap: 8px;
}
.restaurant-name {
  margin: 2px;
}
.restaurant-data > h5 {
  margin: 0;
}
.restaurant-desc {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 4px;
}
.restaurant-desc > h4 {
  margin: 0;
}
.restaurant-menu-wrapper > p {
  margin: 8px 0;
  width: 60%;
  color: rgba(2, 6, 12, 0.6);
}
.highlight {
  background-color: lightblue;
}
.restaurant-menu-list {
  list-style: none;
  margin: 20px 0;
  padding: 0;
}
.menu-img-wrapper {
  display: flex;
  justify-content: flex-end;
  max-width: 160px;
  margin-left: auto;
  max-height: 175px;
}
.menu-img {
  border-radius: 20px;
  width: 100%;
  height: 100%;
}
.restaurant-menu-wrapper {
  display: flex;
  justify-content: space-between;
}
.restaurant-dec-wrapper {
  width: 60%;
}
.menu-shimmer-wrapper {
  width: 100%;
}
.backbtn {
  margin: 0;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 10px;
  cursor: pointer;
}
.restaurant-header {
  background-color: #7671710d;
  padding: 10px 6px;
}
button {
  background: white;
  border: none;
  border-radius: 30px;
  background-color: #f48238;
  padding: 10px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

button:hover{
  background-color: #f8934c;
}